doctype html

html
  head
    title
        | Saucelabs URL Shortener
    
    link(rel='stylesheet',
         href='/stylesheets/app.css'
         type='text/css',
         media='all')
  body
    div.app
      div.content
        h1.content__title
          | Saucelabs URL Shortener

        block content
